:root {
    --primary-color: rgb(38, 38, 38);
    --secondary-color: aliceblue;
    --background-image: url(dark-bg.jpg);
    --bg-color: black;

    --background-image-dark: url('dark-bg.jpg');
    --background-image-light: url('light-bg.jpg');
    
    --transition-duration: 0.5s;

    --primary-color-dark: #222;
    --secondary-color-dark: #fff;
    
    --primary-color-light: #fff;
    --secondary-color-light: #222;

    --transition-duration: 0.5s;
}

.light-theme {
    --primary-color: rgb(207, 204, 204);
    --secondary-color: black;
    --bg-color: #E9E9E9;
    --background-image: url(light-bg.jpg);

}

#about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-picture {
    position: absolute;
    right: 25vh;
    top: 25vh;
    width: 45vh;
    height: auto;
    border-color: black;
    border-radius: 4vh;
    margin-bottom: 1.5vh;
    border: 3vh;
}

#github-icon {
    width: 5vh;
    position: relative;
    right: 15vh;
}

#mail-icon {
    height: 6vh;
    position: relative;
    right: -3vh;
}

#insta-icon {
    width: 5vh;
    position: relative;
    right: 15vh;
    left: -5vh;
}

body {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    transition: background-image var(--transition-duration);
}

.top {
    background-color: var(--primary-color);
    padding: 10px;
    width: 100vw;
    text-align: center;
    transition: background-color var(--transition-duration);
}

.toolhead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    align-items: flex-end;
    transition: background-color var(--transition-duration);
}

.black-gap {
    background-color: var(--primary-color);
    height: 5px;
    border: none;
    transition: background-color var(--transition-duration);

}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    align-items: center;
    transition: background-color var(--transition-duration);
}

.title {
    font-family: 'Jost', sans-serif, 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    width: 11em;
    font-size: 250%;
    transition: transform 0.3s ease-out;
    transition: background-color var(--transition-duration);

}

.title:hover {
    transform: translateY(-5px); 
}

#icon {
    width: 6vh;
    cursor: pointer;
    position: absolute;
    top: 3vh;
    right: 10vh;
}

.title.new-button {
    position: absolute;
    top: 0;
    right: 0;
}

#overlay-title {
    font-family: 'Jost', sans-serif, 'Courier New', Courier, monospace;
    color: var(--secondary-color);
    width: 11em;
    position: relative;
    font-size: 450%;
    left: 10vh;
}

#overlay-text {
    font-family: 'Raleway', sans-serif, 'Courier New', Courier, monospace;
    font-size: 250%;
    position: relative;
    color: var(--secondary-color);
    width: 50vw;
    left: 12vh;
}

.tool-button {
    font-family: 'Raleway', sans-serif, 'Courier New', Courier, monospace;
    font-size: 200%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    width: 7.5em;
    transition: transform 0.3s ease-out;
    transition: background-color var(--transition-duration);
}

.tool-button:hover {
    transform: translateY(-5px); 
}

#overlay-content {
    color: var(--secondary-color);
}

.tool-icons {
    width: 15em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .title {
        width: 100vw;
    }

    .top {
        width: 100vw;
    }

    #icon {
        right: 5vw;
    }

    .title.new-button {
        right: 5vw;
    }

    #overlay-title {
        left: 5vw;
    }

    #overlay-text {
        width: 50vw;
        left: 5vw;
    }

    .tool-button {
        width: 100%;
        font-size: 70%;
    }

    #icon {
        width: 4vh;
    }

    #profile-picture {
        width: 17vh;
        right: 3vh;
        top: 40vh;
    }

    #github-icon {
        top: 3vh;
        width: 2vh;
        right: 1.6vh;
    }

    .toolbar {
        width: 45vh;
    }


    #insta-icon {
        top: 0.5vh;
        width: 2vh;
        left: 0.5vh;
    }

    #mail-icon {
        width: 2.5vh;
        height: auto;
        top: -2.25vh;
        right: -3vh;
    }

    .title {
        font-size: 200%;
    }

    #overlay-title {
        font-size: 350%;
    }
    
    body {
        width: 55.5vh;
    }
}
